include setup.py
include LICENSE
include README.md

recursive-include src/python *.py
recursive-include tools *.py
recursive-include src/cxx *.cc *.h *.def
recursive-include src/cython *.pyx *.pxd *.cpp

include src/cxx/Makefile
include src/cxx/Makefile.vc

recursive-include src/cxx/mingw-std-threads/tests *.cpp *.txt
include src/cxx/mingw-std-threads/LICENSE
include src/cxx/mingw-std-threads/README.md
